.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form-data{
  padding-top: 50px;
}
.form-data table{
  width: 400px;
  margin: 0 auto;

}
table, th, td {
  border: 1px solid black;
}
.form-data thead th,.form-data tbody tr:nth-child(even){
  /* background:#dcdcdc; */
 
}
.form-data tbody tr td,.form-data thead th {
 padding:2px;
  color:#101010;
  text-align:left;
}
.form-data tbody tr td:first-child{
  text-transform:capitalize;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
